body {
    background-color: #302e2a;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

h1 {
    color: white;
}

h2 {
    color: green;
}

button {
    padding: 10px;
}

canvas {
    margin: auto;
    display: none;
}

#downloadButton {
    display: none;
    color: white;
}

img {
    margin: auto;
    width: 35px;
    height: auto;
    display: none;
}

audio {
    margin: auto;
    display: none;
}

a:link {
    color: white;
}

a:visited {
    color: #eeeeee;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1a1a1a;
    color: white;
    padding: 10px;
}
