body {
    background-color: #302e2a;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

h1, h2, h3 {
    color: white;
}

ul {
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color: #eeeeee;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1a1a1a;
    color: white;
    padding: 10px;
}
