<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<title>BeatGen</title>
</head>
<body>
	<h1>BeatGen<span style="color:green; font-size:smaller"><em>ALPHA</em></span></h1>
	<h2>AI-generated trap beats</h2>
	<button id="goButton">Generate a beat</button>
	<br><br>
	<audio id="audioElement" controls>
		<source id="audioSource" type="audio/mpeg">
	</audio>
	<br>
	<div>
		<h3>Upcoming Features</h3>
			<ul>
				<li>Melodies</li>
				<li>Longer beats</li>
				<li>Downloads</li>
				<li>Feedback</li>
				<li>Visualizer</li>
			</ul>
	</div>
	<footer>
		<a href="https://github.com/sixilvr/beatgen_website">Source Code</a>
	</footer>
	<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
