<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<title>BeatGen</title>
</head>
<body>
	<h1>BeatGen</h1>
	<h2><i>AI-generated trap beats</i></h2>
	<button id="goButton">Generate a beat</button>
	<br><br>
	<div id="audioWrapper">
		<img id="loadingspinner" src="{{ url_for('static', filename='assets/soundloader.gif') }}">
		<audio id="audioElement" controls>
			<source id="audioSource" src="" type="audio/mpeg">
		</audio>
		<br>
		<a id="downloadButton" download>Download as mp3</a>
	</div>
	<footer>
		<a href="https://github.com/sixilvr/beatgen_website" target="_blank">Source Code</a>
	</footer>
	<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
